image: atlassian/default-image:3

definitions:
  caches:
    npm: ~/.npm

pipelines:
  default:
    - step:
        name: Tests
        caches:
          - npm
        script:
          # HACK if we don't set NPM_TOKEN npm complains
          - export NPM_TOKEN={fake_npm_token}
          - npm install
          - npm run prettier-check
          - npm run lint
          - npm run depcheck
          - npm test

