name: Semantic Release and Notify

on:
  push:
    branches:
      - develop # for pre-releases
      - main # for releases

permissions:
  contents: read # for checkout

jobs:
  pre-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install dependencies
        run: |
          npm install
          npm --version
          node --version
      - name: Build
        run: npm run build
      - name: Semantic release
        uses: codfish/semantic-release-action@v2
        id: semantic
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Notify SDK update
        if: steps.semantic.outputs.new-release-published == 'true'
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.GH_PAT }}
          repository: B2tGame/streaming-games
          event-type: sdk_update
          client-payload: >-
            {
              "version": "${{ steps.semantic.outputs.release-version }}",
              "sha": "${{ github.sha }}",
              "release_notes": "${{ steps.semantic.outputs.release-notes }}",
              "release_type": "${{ steps.semantic.outputs.release-type }}"
            }
